@import "tailwindcss";

@theme {
  --color-background: #f8f9fa;
  --color-surface: #ffffff;
  --color-primary: #1a1a1a;
}

body {
  background-color: var(--color-background);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}
